<!-- test if title exist -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>
<!-- ---------------------------------------- -->
<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<section id="account-update-view" class="container form">
  <div class="container">
    <form id="accountUpdateForm" action="/account/update" method="post">
      <section class="container">
        <label for="accountFirstname">First Name:</label>
        <input
          type="text"
          name="account_firstname"
          placeholder="first name"
          id="accountFirstname"
          required
          value="<%= locals.firstName %>"
        />
      </section>
      <section class="container">
        <label for="accountLastname">Last Name:</label>
        <input
          type="text"
          for="account_lastname"
          name="account_lastname"
          placeholder="last name"
          id="accountLastname"
          required
          value="<%= locals.lastName %>"
        />
      </section>
      <section class="container">
        <label for="accountEmail">Email:</label>
        <input
          type="email"
          id="accountEmail"
          name="account_email"
          placeholder="email"
          required
          value="<%= locals.email %>"
        />
        <input
          type="text"
          id="account-id-info"
          name="account_id"
          value="<%- accountId %>"
          required
          hidden
        />
      </section>
      <section class="submit-area container">
        <button type="submit" class="btn submit-btn">Update Info</button>
      </section>
    </form>
    <form id="passwordUpdateForm" action="/account/update" method="post">
      <section class="container">
        <label for="accountPassword">Password</label>
        <input
          type="password"
          id="accountPassword"
          name="account_password"
          placeholder="password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
          required
        />
        <input
          type="number"
          id="account-id-password"
          name="account_id"
          value="<%- accountId %>"
          required
          hidden
        />
        <article class="container">
          <p>
            Password must be at least 12 characters and contain the following:
          </p>
          <ul>
            <li>* at least 1 capital letter</li>
            <li>* at least 1 number</li>
            <li>* at least 1 special character</li>
          </ul>
        </article>
      </section>
      <section class="submit-area container">
        <button type="submit" class="btn submit-btn">Update Password</button>
      </section>
    </form>
  </div>
</section>
