<!-- test if title exist -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>
<!-- ---------------------------------------- -->
<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<section id="review-update-view" class="container form">
  <div class="container">
    <form
      id="reviewUpdateForm"
      action="/review/update"
      method="post"
    >
      <section class="container">
        <h2>Update Review</h2>
        <label for="reviewDate">Review Date</label>
        <input
          type="text"
          id="reviewDate"
          name="review_date"
          value="<%= locals.review_date %>"
          readonly
          required
        />
        <label for="reviewText">Review Text</label>
        <textarea
          name="review_text"
          id="reviewText"
          placeholder="Write your vehicle review here."
          value="<%= locals.review_text %>"
          required
        >
        </textarea>
      </section>
      <section class="submit-area container">
        <button type="submit" class="btn submit-btn">Update Review</button>
      </section>
      <label for="reviewId" hidden></label>
      <input type="number" name="review_id" id="reviewId" value="<%= locals.review_id %>" required hidden>
    </form>
  </div>
</section>
